{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.jsx",
      "options": {
        "parser": "babel"
      }
    }
  ]
}
